.genreWrapper {
    min-width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    background-color: #3a3838;
}

.genreWrapper:hover {
    text-decoration: underline;
}