.movieDetailsWrapper {
    margin: 30px auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.imageWrapper {
    max-width: 40%;
}

.imageWrapper img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 1px 38px -6px rgba(0,0,0,0.75);
}

.title {
    max-width: 30%;
    margin: 20px 0;
    text-align: center;
}

.overview {
    max-width: 80%;
}

.castWrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 50px;
}

.castWrapper > div {
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}